{
  "type": "minecraft:crafting_shaped",
  "category": "misc",
  "pattern": [
    {% for row in ["012", "345", "678"] %}
    "{% for index in row %}{{ letters[index] if index in ingredients else ' ' }}{% endfor %}"{% if not loop.last %},{% endif %}
    {% endfor %}
  ],
  "key": {
    {% for index, letter in letters.items() if index in ingredients and index != "9" %}
    "{{ letter }}": "minecraft:{{ ingredients[index] }}"{% if not loop.last %},{% endif %}
    {% endfor %}
  },
  "result":
  {% set prefix = ingredients["9"].split('_')[0] %}
  {% set suffix = ingredients["9"].split('_')[1:] | join('_') %}
  {% if ingredients["9"] in items %}
  {
    "id": "{{ items[ingredients['9']]['baseItem'] }}",
    "count": {{ outputCount }},
    "components": {
      "minecraft:item_name": {
        "italic": false,
        "text": "{{ items[ingredients['9']]['displayName'] }}"
      },
      "minecraft:item_model": "{{ packNamespace }}:{{ items[ingredients['9']]['name'] }}"
    }
  }
  {% elif ingredients["9"] in blocks %}
  {
    "id": "minecraft:item_frame",
    "count": {{ outputCount }},
    "components": {
      "minecraft:item_model": "{{ packNamespace }}:{{ blocks[ingredients['9']]['name'] }}",
      "minecraft:custom_name": {
        "italic": false,
        "text": "{{ blocks[ingredients['9']]['displayName'] }}"
      },
      "minecraft:entity_data": {
        "id": "minecraft:item_frame",
        "Fixed": true,
        "Invisible": true,
        "Silent": true,
        "Invulnerable": true,
        "Facing": 1,
        "Tags": [
          "{{ packAuthor }}.item_frame_block",
          "{{ packAuthor }}.{{ blocks[ingredients['9']]['name'] }}"
        ]
      }
    }
  }
  {% elif prefix in equipment and suffix %}
  {% set slot_map = {
    'helmet': 'head',
    'chestplate': 'chest',
    'leggings': 'legs',
    'boots': 'feet',
    'horse_armor': 'body'
  } %}
  {
    "id": "minecraft:diamond_{{ suffix }}",
    "components": {
      "minecraft:equippable": {
        "slot": "{{ slot_map[suffix] }}",
        "asset_id": "{{ packNamespace }}:{{ equipment[prefix]["name"] }}"
      },
      "minecraft:item_model": "{{ packNamespace }}:{{ equipment[prefix]["name"] }}_{{ suffix }}",
      "minecraft:item_name": {"italic":false,"text":"{{ equipment[prefix]["displayName"] }} {{ suffix.replace('_', ' ').capitalize() }}"},
      "minecraft:attribute_modifiers": [
        {
          "id": "armor",
          "type": "armor",
          "amount": {{ equipment[prefix]["armor"][suffix] }},
          "operation": "add_value"{% if not suffix == "horse_armor" %},
          "slot": "{{ slot_map[suffix] }}"{% endif %}
        },
        {
          "id": "armor_toughness",
          "type": "armor_toughness",
          "amount": {{ equipment[prefix]["toughness"] }},
          "operation": "add_value"{% if not suffix == "horse_armor" %},
          "slot": "{{ slot_map[suffix] }}"{% endif %}
        },
        {
          "id": "knockback_resistance",
          "type": "knockback_resistance",
          "amount": {{ equipment[prefix]["kb_resistance"] }},
          "operation": "add_value"{% if not suffix == "horse_armor" %},
          "slot": "{{ slot_map[suffix] }}"{% endif %}
        }
      ],
      "minecraft:max_damage": {{ equipment[prefix]["durability"][suffix] }}
    }
  }
  {% else %}
  {
    "id": "minecraft:{{ ingredients['9'] }}",
    "count": {{ outputCount }}
  }
  {% endif %}
}