{
  "asset_id": "{{ packNamespace }}:{{ texture }}",
  "author": "{{ packAuthor }}",
  "height": {{ paintings[painting]['height'] }},
  "width": {{ paintings[painting]['width'] }},
  "title": "{{ paintings[painting]['displayName'] }}"
}
