{{ header }}
{% if mode == "impulse" %}
    execute unless score @s {{ item }}_cooldown matches 1.. run function {{ packNamespace }}:items/{{ item }}/execute
    advancement revoke @s only {{ packNamespace }}:{{ item }}_use
    advancement revoke @s only {{ packNamespace }}:{{ item }}_cooldown
    scoreboard players set @s {{ item }}_cooldown 2
{% else %}
    advancement revoke @s only {{ packNamespace }}:{{ item }}_use
    function {{ packNamespace }}:items/{{ item }}/execute
{% endif %}