{
    "layers": {
        "humanoid": [
            {
                "texture": "{{ packNamespace }}:{{ equipmentName }}"
            }
        ],
        "humanoid_leggings": [
            {
                "texture": "{{ packNamespace }}:{{ equipmentName }}"
            }
        ]
    }
}