{{ header }}
{% for equip in equipment %}
# {{ equip }} definition
give @p diamond_helmet[equippable={slot:"head",asset_id:"{{ packNamespace }}:{{ equipment[equip]["name"] }}"},item_model="{{ packNamespace }}:{{ equipment[equip]["name"] }}_helmet",item_name={"italic":false,"text":"{{ equipment[equip]["displayName"] }} Helmet"},attribute_modifiers=[{id:"armor",type:"armor",amount:{{ equipment[equip]["armor"]["helmet"] }},operation:"add_value",slot:"head"},{id:"armor_toughness",type:"armor_toughness",amount:{{ equipment[equip]["toughness"] }},operation:"add_value",slot:"head"},{id:"knockback_resistance",type:"knockback_resistance",amount:{{ equipment[equip]["kb_resistance"] }},operation:"add_value",slot:"head"}],max_damage={{ equipment[equip]["durability"]["helmet"] }}] 1
give @p diamond_chestplate[equippable={slot:"chest",asset_id:"{{ packNamespace }}:{{ equipment[equip]["name"] }}"},item_model="{{ packNamespace }}:{{ equipment[equip]["name"] }}_chestplate",item_name={"italic":false,"text":"{{ equipment[equip]["displayName"] }} Chestplate"},attribute_modifiers=[{id:"armor",type:"armor",amount:{{ equipment[equip]["armor"]["chestplate"] }},operation:"add_value",slot:"chest"},{id:"armor_toughness",type:"armor_toughness",amount:{{ equipment[equip]["toughness"] }},operation:"add_value",slot:"chest"},{id:"knockback_resistance",type:"knockback_resistance",amount:{{ equipment[equip]["kb_resistance"] }},operation:"add_value",slot:"chest"}],max_damage={{ equipment[equip]["durability"]["chestplate"] }}] 1
give @p diamond_leggings[equippable={slot:"legs",asset_id:"{{ packNamespace }}:{{ equipment[equip]["name"] }}"},item_model="{{ packNamespace }}:{{ equipment[equip]["name"] }}_leggings",item_name={"italic":false,"text":"{{ equipment[equip]["displayName"] }} Leggings"},attribute_modifiers=[{id:"armor",type:"armor",amount:{{ equipment[equip]["armor"]["leggings"] }},operation:"add_value",slot:"legs"},{id:"armor_toughness",type:"armor_toughness",amount:{{ equipment[equip]["toughness"] }},operation:"add_value",slot:"legs"},{id:"knockback_resistance",type:"knockback_resistance",amount:{{ equipment[equip]["kb_resistance"] }},operation:"add_value",slot:"legs"}],max_damage={{ equipment[equip]["durability"]["leggings"] }}] 1
give @p diamond_boots[equippable={slot:"feet",asset_id:"{{ packNamespace }}:{{ equipment[equip]["name"] }}"},item_model="{{ packNamespace }}:{{ equipment[equip]["name"] }}_boots",item_name={"italic":false,"text":"{{ equipment[equip]["displayName"] }} Boots"},attribute_modifiers=[{id:"armor",type:"armor",amount:{{ equipment[equip]["armor"]["boots"] }},operation:"add_value",slot:"feet"},{id:"armor_toughness",type:"armor_toughness",amount:{{ equipment[equip]["toughness"] }},operation:"add_value",slot:"feet"},{id:"knockback_resistance",type:"knockback_resistance",amount:{{ equipment[equip]["kb_resistance"] }},operation:"add_value",slot:"feet"}],max_damage={{ equipment[equip]["durability"]["boots"] }}] 1
{% if equipment[equip]["includeHorse"] %}
give @p diamond_horse_armor[equippable={slot:"body",asset_id:"{{ packNamespace }}:{{ equipment[equip]["name"] }}"},item_model="{{ packNamespace }}:{{ equipment[equip]["name"] }}_horse_armor",item_name={"italic":false,"text":"{{ equipment[equip]["displayName"] }} Horse Armor"},attribute_modifiers=[{id:"armor",type:"armor",amount:{{ equipment[equip]["armor"]["horse"] }},operation:"add_value"},{id:"armor_toughness",type:"armor_toughness",amount:{{ equipment[equip]["toughness"] }},operation:"add_value"}]] 1
{% endif %}
{% endfor %}