{% if blocks[block]["blockDrop"] == "self" %}
    {
        "pools": [
            {
                "rolls": 1,
                "entries": [
                    {
                        "type": "minecraft:item",
                        "name": "minecraft:item_frame"
                    }
                ],
                "functions": [
                    {
                        "function": "minecraft:set_components",
                        "components": {
                            "minecraft:item_model": "{{ packNamespace }}:{{ block }}",
                            "minecraft:custom_name": {{ {"italic": False, "text": blocks[block]["displayName"]} | tojson }},
                            "minecraft:entity_data": {
                                "id": "minecraft:item_frame",
                                "Fixed": true,
                                "Invisible": true,
                                "Silent": true,
                                "Invulnerable": true,
                                "Facing": 1,
                                "Tags": [
                                    "{{ packAuthor }}.item_frame_block",
                                    "{{ packAuthor }}.{{ block }}"
                                ]
                            }
                        }
                    }
                ]
            }
        ]
    }
{% else %}
    {% set prefix = blocks[block]["blockDrop"].split('_')[0] %}
    {% set suffix = ingredients["9"].split('_')[1:] | join('_') %}
    {% if (blocks[block]["blockDrop"] not in items) and (blocks[block]["blockDrop"] not in blocks) %}
        {
            "pools": [
                {
                    "rolls": 1,
                    "entries": [
                        {
                            "type": "minecraft:item",
                            "name": "{{ blocks[block]['blockDrop'] }}"
                        }
                    ]
                }
            ]
        }
    {% elif blocks[block]["blockDrop"] in items %}
        {
            "pools": [
                {
                    "rolls": 1,
                    "entries": [
                        {
                            "type": "minecraft:item",
                            "name": "{{ items[blocks[block]['blockDrop']]['baseItem'] }}",
                            "functions": [
                                {
                                    "function": "minecraft:set_components",
                                    "components": {
                                        "minecraft:item_name": {{ {"italic": False, "text": items[blocks[block]['blockDrop']]['displayName']} | tojson }},
                                        "minecraft:max_stack_size": {{ items[blocks[block]['blockDrop']]['stackSize'] }},
                                        "minecraft:item_model": "{{ packNamespace }}:{{ items[blocks[block]['blockDrop']]['name'] }}"
                                    }
                                }
                            ]
                        }
                    ]
                }
            ]
        }
    {% elif blocks[block]["blockDrop"] in blocks %}
        {
            "pools": [
                {
                    "rolls": 1,
                    "entries": [
                        {
                            "type": "minecraft:item",
                            "name": "minecraft:item_frame"
                        }
                    ],
                    "functions": [
                        {
                            "function": "minecraft:set_components",
                            "components": {
                                "minecraft:item_model": "{{ packNamespace }}:{{ blocks[blocks[block]['blockDrop']]['name'] }}",
                                "minecraft:custom_name": {"italic": False, "text": "{{ blocks[blocks[block]['blockDrop']]['displayName'] }}" },
                                "minecraft:entity_data": {
                                    "id": "minecraft:item_frame",
                                    "Fixed": true,
                                    "Invisible": true,
                                    "Silent": true,
                                    "Invulnerable": true,
                                    "Facing": 1,
                                    "Tags": [
                                        "{{ packAuthor }}.item_frame_block",
                                        "{{ packAuthor }}.{{ blocks[blocks[block]['blockDrop']]['name'] }}"
                                    ]
                                }
                            }
                        }
                    ]
                }
            ]
        }
    {% elif prefix in equipment and suffix %}
        {% set slot_map = {
            'helmet': 'head',
            'chestplate': 'chest',
            'leggings': 'legs',
            'boots': 'feet',
            'horse_armor': 'body'
        } %}
        {
            "pools": [
                {
                "rolls": 1,
                "entries": [
                    {
                    "type": "minecraft:item",
                    "name": "minecraft:diamond_{{ suffix }}",
                    "functions": [
                        {
                        "function": "minecraft:set_components",
                        "components": {
                            "minecraft:equippable": {
                            "slot": "{{ slot_map[suffix] }}",
                            "asset_id": "{{ packNamespace }}:{{ prefix }}"
                            },
                            "minecraft:item_model": "{{ packNamespace }}:{{ prefix }}_{{ suffix }}",
                            "minecraft:item_name": {"italic":false,"text":"{{ prefix }} {{ suffix.replace('_', ' ').capitalize() }}"},
                            "minecraft:attribute_modifiers": [
                            {
                                "id": "armor",
                                "type": "armor",
                                "amount": {{ equipment[prefix]["armor"][suffix] }},
                                "operation": "add_value"{% if not suffix == "horse_armor" %},
                                "slot": "{{ slot_map[suffix] }}"{% endif %}
                            },
                            {
                                "id": "armor_toughness",
                                "type": "armor_toughness",
                                "amount": {{ equipment[prefix]["toughness"] }},
                                "operation": "add_value"{% if not suffix == "horse_armor" %},
                                "slot": "{{ slot_map[suffix] }}"{% endif %}
                            },
                            {
                                "id": "knockback_resistance",
                                "type": "knockback_resistance",
                                "amount": {{ equipment[prefix]["kb_resistance"] }},
                                "operation": "add_value"{% if not suffix == "horse_armor" %},
                                "slot": "{{ slot_map[suffix] }}"{% endif %}
                            }
                            ],
                            "minecraft:max_damage": {{ equipment[prefix]["durability"][suffix] }}
                        }
                        }
                    ]
                    }
                ]
                }
            ]
            }
    {% endif %}
{% endif %}