{{ header }}advancement revoke @s only {{ packNamespace }}:placed_item_frame
execute as @e[tag={{ packAuthor }}.item_frame_block,distance=..10] at @s run function {{ packNamespace }}:blocks/check_placed_item_frame